h1{
   color:thistle;
}
h3{
   color:goldenrod;
}
img{
    width:500px;
}
#thirsDiv{
    height: 800px;
    width: 600px;
    padding: 50px;
    border: 10px solid yellow;                
    background-color: palevioletred;
}
#spandId{
    margin: 50px;
    font-size: 28px;
}